/*Definimos los ajustes globales de nuestra aplicación web*/
/**********************************************************/
body {
    font-family: Verdana;
    max-width: 1500px;
    margin: auto;
}

/*Definimos que todos los enlaces se coloreen en rojo al pasar el ratón por encima
además de los elementos de tipo span*/
a:hover,
span:hover {
    color: #ff0000;
    cursor: pointer;
}

/*Definimos que todos los enlaces no tengan ningún tipo de decoración en el texto*/
a {
    text-decoration: none;
}

/*Definimos todos los elementos de tipo strong que sean en cursiva para sobresaltar mejor*/
strong {
    font-family: cursive;
}

/* Todos los botones del la página web tendran estas características*/
button {
    background-color: #071d58;
    ;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

/*HEADER PRINCIPAL*/
/**********************************************************/
/*Aplicamos el color blanco a todo el header*/
header {
    background-color: white;
}

/*Definimos el encabezado inicial que sea de tipo FLEXBOX*/
.encabezado_inicial {
    align-items: center;
    background-color: #071d58;
    display: flex;
    flex-direction: row;
    height: 2.5em;
    width: 100%;
    justify-content: space-around;
}

/*Definimos las características concretas del slogan de la página*/
.eslogan {
    color: white;
    font-style: italic;
}

/*Definimos unas características al contenedor de inicio sesion y registro*/
.sesion {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sesion a:hover {
    background-color: white;
    color: red;
}

.sesion a {
    padding: 10px;
    color: white;
}

/*Características generales en el encabezado secundario*/
.encabezado_secundario {
    border-bottom: 1px solid black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

/*Definimos tamaño unicamente al logotipo, queremos que se mantenga siempre 
definido a este tamaño sin importar del ajuste de la página*/
#logotipo {
    width: 130px;
    height: 125px;
}

.encabezado_secundario ul {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1.5em;
    list-style-type: none;
}

.encabezado_secundario li {
    padding: 1em;
}

.idioma {
    display: flex;
    justify-content: space-between;
}

.encabezado_secundario span {
    background-color: #071d58;
    border: white;
    margin: 5px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-size: 1em;
    text-align: center;
}

/*Para una mejor estética, retiramos el margin derecho únicamente al span "ENG"*/
#bloque_eng {
    margin-right: 0;
}

/*MAIN INICIO*/
/**********************************************************/
/*SECCION PRINCIPAL*/

.header_section_inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Artículo 1*/
.contenedor_imagen_inicio {
    display: flex;
    justify-content: center;
}

#imagen_principal_main {
    height: auto;
    width: 80vw;
}

/*Artículo 2*/
.articulo_numero_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.articulo_numero_2 h1 {
    font-size: x-large;

}

.articulo_numero_2 p {
    font-size: larger;

}


/*Artículo 3*/
.tipos_de_productos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.tipos_de_productos div {
    text-align: center;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.tipos_de_productos img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

/*Artículo 4 y 5*/
.porque_industrial_equipment {
    display: flex;
    margin-top: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.texto_porque_nosotros {
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    color: black;
    max-width: 50%;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 20px;
    text-align: justify;
    flex-grow: 1;
}

.imagen_porque_nosotros img {
    width: auto;
    height: auto;
    border-radius: 30px;
    max-width: 500px;
    margin: 20px;
    flex-grow: 1;
}



/*SECTION DE CONTACTO*/
/**********************************************************/
.texto_header_comun {
    color: #071d58;
    border-left: 4px solid #071d58;
    background-color: hsl(180, 6%, 94%);
    padding: 20px;
    margin: 20px 0px;
}

.quienes_somos {
    display: flex;
    flex-direction: column;
}

.quienes_somos h1 {
    background-color: #071d58;
    color: white;
    border-bottom: #071d58;
}

/*MAIN PRODUCTOS*/
/**********************************************************/
aside {
    position: sticky;
    top: 10px;
    align-self: flex-start;
    height: fit-content;
    padding: 8px;
}

aside ol {
    color: #071d58;
    font-size: medium;
}

aside h2 {
    text-decoration: underline;
    font-size: 19px;
}

.main_productos {
    display: flex;
    flex-direction: column;
}

.div_productos {
    display: flex;
    flex-direction: row;
}

.indice_lado_izquierdo {
    order: 1;
}

.titulo_productos,
.estructura_productos_lado_derecho p {
    margin: 10px 10px 10px 20px;
}

.estructura_productos_lado_derecho {
    order: 2;
}

.nombre_precio h4 {
    margin-top: 0;
    color: #071d58;
    font-size: x-large;
    margin-bottom: 0%;
}

.nombre_precio a {
    margin-top: 0;
    font-size: x-large
}

.seccion_de_productos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#tabla_de_características a {
    font-size: x-small;

}

.producto_paginaweb {
    background-color: hsl(180, 6%, 94%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px 10px;
    width: 400px;
}

.producto_paginaweb img {
    width: 280px;
    height: 280px;
    margin: 20px;
    border-radius: 10px;
}

.nombre_precio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombre_precio table {
    width: 100%;
    /* Unimos los bordes de las celdas para una mejor estética */
    border-collapse: collapse;
    text-align: center;
}

.nombre_precio th,
.nombre_precio td {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.nombre_precio th {
    background-color: #071d58;
    color: white;
}

.nombre_precio td a {
    font-size: 15px;
}


/*MAIN ULTIMAS NOTICIAS*/
/**********************************************************/
#imagen_corporativa {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 60px;
    border-radius: 80px;
}

.panel_de_noticias {
    display: flex;
    min-height: 100vh;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center
}

.panel_de_noticias div :hover {
    cursor: pointer;
    color: red;
}

.panel_de_noticias div {
    display: flex;
    flex-direction: column;
}

.panel_de_noticias header {
    font-size: xx-large;
    color: white;
    background-color: #071d58;
    padding: 20px;
    margin-bottom: 0px;
    width: 700px;
    height: 80px;
    align-items: center;
    text-align: center;
}

.panel_de_noticias img {
    width: 740px;
    height: 700px;
}

/*CSS - PÁGINA DE CONTACTO*/
/**********************************************************/
.formularios {
    display: flex;
}

.formulario_contacto,
.formulario_compra {
    padding: 10px;
    margin: 15px;
}

.formulario_compra p,
.formulario_contacto p {
    margin-left: 5px;
}

.formulario_compra h1,
.formulario_contacto h1 {
    font-size: 22px;
}

.label_formulario {
    font-weight: bold;
    font-size: 15px;
}

.quienes_somos h1 {
    margin: 0px;
    font-size: 50px;
    padding: 10px;
}

.quienes_somos p {
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    margin-top: 0;

}

/*FOOTER*/
/********************************************************************************************/
/*Definimos la característica de la imagenes del logotipo - al no definir el tamaño fuente 
base de CSS por defecto 1rem = 16px*/
.logotipo_redes_sociales img {
    width: 2.5rem;
    height: 2.5rem;
}

.logotipo_redes_sociales a :hover {
    opacity: 0.5;
}

.logotipo_redes_sociales {
    display: flex;
    background-color: darkgray;
    justify-content: end;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.footer_barra_final {
    display: flex;
    background-color: black;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px 25px;
}

.footer_barra_final img {
    max-width: 60px;
    max-height: 40px;
    padding: 25px;
}

.footer_barra_final a {
    color: white;
}

.footer_barra_final p {
    font-size: 16px;
}

/*ADAPTACIÓN DE PANTALLA*/
/********************************************************************************************/

/* Aplicamos estas propiedades para que se adapte mi página si la ventana disminuye de 1000px
(pensado para pantallas de portatil pequeñas) */
@media (max-width: 1000px) {

    .porque_industrial_equipment,
    .Tipos_de_productos {
        flex-direction: column;
        align-items: center;
    }

    .imagen_porque_nosotros,
    .texto_porque_nosotros {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .footer_barra_final a,
    .idioma,
    .eslogan,
    .indice_lado_izquierdo {
        display: none;
    }

    .encabezado_secundario li {
        padding: 10px;
    }

    #logotipo {
        margin: 0px;
    }

    .encabezado_secundario {
        justify-content: center;
        margin-bottom: 0px;
    }

    .sesion a {
        font-size: 20px;
    }

    .logotipo_redes_sociales a {
        height: 40px;
    }

    .formularios {
        flex-direction: column;
    }

}

/* Aplicamos estas propiedades para que se adapte mi página si la ventana disminuye de 700px
(pensado para moviles o tabletas) */
@media (max-width: 770px) {
    .nombre_precio table {
        font-size: 12px;
    }

    .producto_paginaweb {
        width: 100%;
        height: auto;
    }

    .nombre_precio th,
    .nombre_precio td {
        padding: 6px;
    }

    .encabezado_secundario {
        flex-direction: column;
        font-size: 12px;
    }

    .panel_de_noticias {
        flex-direction: column;
        align-items: center;
    }

    .panel_de_noticias div {
        max-height: 400px;
    }

    .panel_de_noticias header {
        font-size: large;
        max-width: 485px;
        padding: 5px;
    }

    .panel_de_noticias img {

        max-height: 400px;
        max-width: 495px;
    }

    .quienes_somos h1 {
        font-size: 30px;
    }

    .pagina_principal_general h1, h2, h3, p{
        margin-left: 25px;
    }

    .tipos_de_productos h1{
        font-size: 15px;
    }
}